 <section class="padding-tall">
    <div class="row">
      <div class="columns medium-6 text-center">
        <img data-src="/static/images/book-2.png" alt="">
      </div>
      <div class="columns medium-6">
        <h2>Authors of the all-time best&nbsp;seller</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, molestiae voluptatum maiores eum fugiat laboriosam officia alias, doloribus tempore quos provident, expedita praesentium. Expedita ut itaque incidunt totam culpa in.
        </p>
        <div>
          <a href="#" class="button">Buy the book <i class="icon-arrow-right"></i> </a>
          <a href="{{ url('booksarticles') }}" class="button outline">Our Books &amp; Articles <i class="icon-arrow-right"></i> </a>
        </div>
      </div>
    </div>
  </section>