 <section class="padding-tall">
    <div class="row">
      <div class="columns medium-6 text-center">
        <img data-src="{{ cms.homepage.book_image|imageSize(800) }}" alt="" style="max-height: 600px;">
      </div>
      <div class="columns medium-6">
        <h2>Authors of the all-time best&nbsp;seller</h2>
        {{ cms.homepage.book_overview|safe }}
        <div>
          <a href="#" class="button">Buy the book <i class="icon-arrow-right"></i> </a>
          <a href="{{ url('booksarticles') }}" class="button outline">Our Books &amp; Articles <i class="icon-arrow-right"></i> </a>
        </div>
      </div>
    </div>
  </section>