<section class="padding-tall text-center" id="our-clients">
  <h2 style="margin-bottom: 0.5em;">Our Clients</h2>
  <p class="lead tex-center" style="margin-bottom: 2em;">
    We have taught group facilitation skills to clients from hundreds of organizations.
  </p>

  <div class="row small-up-1 medium-up-3 large-up-5">
    {% for item in cms.clients|sort('name', false) %}
      <div class="column">
        <div class="table">
          <div class="cell text-center" style="height: 150px;">
            <img data-src="{{ item.logo|imageSize(200) }}" alt="{{ item.name }}" class="client-logo">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
   <div class="row">
    <div class="columns text-center padding" style="padding-bottom: 0;">
      <h3>
        <a href="/about/#clients">View All Clients <i class="icon-arrow-right"></i></a>
      </h3>
    </div>
  </div>
</section>