<form action="">

	<div class="row">
		<div class="columns medium-6">
			<h2>Contact Us</h2>
			<br>
			<h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nostrum, magnam officiis illum fugiat veritatis.
			</h4>
		</div>
		<div class="columns medium-6">
			<label for="name">
				<!-- Name -->
				<input type="text" placeholder="Your Name">
			</label>
			<label for="email">
				<!-- Email Address -->
				<input type="text" placeholder="Email Address">
			</label>
			<label for="comment">
				<!-- Comment -->
				<textarea name="comment" id="" cols="30" rows="5" placeholder="How can we help you?"></textarea>

			</label>
		</div>
	</div>

</form>