<section class="bg-dark cover" data-bg="/static/images/image-1.jpg">
  <div class="overlay">
    <div class="row">
      <div class="columns padding-tall text-center">
        <h2 class="bold">We're acknowledged experts in our field.</h2>
        <br>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, molestiae voluptatum maiores eum fugiat laboriosam officia alias, doloribus tempore quos provident, expedita praesentium. Expedita ut itaque incidunt totam culpa in.
        </p>
        <br>
        <a href="#" class="button outline white">Learn more about what we do <i class="icon-arrow-right"></i> </a>
      </div>
    </div>
  </div>
</section>