<section class="bg-dark cover" data-bg="{{ cms.homepage.about_image|imageCrop(1200,600) }}">
    <div class="overlay">
      <div class="row">
        <div class="columns padding-tall text-center">
          <h2 class="bold">{{ cms.homepage.about_headline }}</h2>
          <br>
          <p class="lead">
            {{ cms.homepage.about_overview }}
          </p>
          <br>
          <a href="#" class="button outline white">{{ cms.homepage.about_button_text }} <i class="icon-arrow-right"></i> </a>
        </div>
      </div>
    </div>
  </section>