<section class="bg-dark" id="footer">
  <div class="row expanded" data-equalizer id="map">
    <div class="columns medium-6 medium-push-6 large-6 padding-tall" data-equalizer-watch>
      <h1><img src="/static/images/community-at-work-icon-light.svg"> Community At Work</h1>
      <ul>
        <li class="map">
          <a href="#">
            1 Tubbs Street<br>
            San Francisco, CA 94107
          </a>
        </li>
        <li class="email">
          <a href="mailto:info@communityatwork.com">info@communityatwork.com</a>
        </li>
        <li class="phone">
          <a href="tel:4152829878">415.282.9878</a>
        </li>
      </ul>
    </div>
    <a href="https://goo.gl/maps/VwB9GA3wD9C2">
      <div class="columns medium-6 medium-pull-6 large-6 cover grayscale" data-bg="/static/images/staticmap.png" data-equalizer-watch>
      	&nbsp;
      </div>
    </a>
  </div>
</section>

{% include "templates/partials/header.html" %}