<nav id="nav" class="notoggle">
	<div class="row expanded">
	  <div class="columns medium-12 large-4">
	  	<div class="row">
	  		<div class="columns small-8 medium-6 large-12">
			    <h4><a href="/">Community At Work</a></h4>
			    <h3 class="show-for-large">Supporting groups to do their best&nbsp;thinking.</h3>

				<ul class="contact">
					<li>

					    <ul>
					        <li class="map">
					          <a href="https://goo.gl/maps/VwB9GA3wD9C2">
					            1 Tubbs Street<br>
					            San Francisco, CA 94107
					          </a>
					        </li>
					        <li class="email">
					          <a href="mailto:info@communityatwork.com">info@communityatwork.com</a>
					        </li>
					        <li class="phone">
					          <a href="tel:4152829878">415.282.9878</a>
					        </li>
					      </ul>
					</li>
				</ul>
	  		</div>
	  		<div class="columns small-12 medium-6 large-12 show-for-large">
				{% include 'templates/partials/social.html' %}
	  		</div>
	  		<div class="columns small-4 medium-6 hide-for-large text-right">
	  			<a href="#" class="menu-toggle"><span>Menu</span> <i class="icon-menu"></i></a>
	  		</div>
	  	</div>

	  </div>
	  <div class="columns medium-12 large-8">

	    <ul class="row expanded small-up-1 medium-up-5">
	      <li class="columns {% if getCurrentUrl() == url('about') %}active{% endif %}">
	        <a href="/about/">About Us</a>
	        <ul class="hide-for-small-only">
	          <li>
	            <a href="/about/#professional-staff">Professional Staff</a>
	          </li>
	          <li>
	            <a href="/about/#operations-staff">Operations Staff</a>
	          </li>
	          <li>
	            <a href="/about/#community-at-work">Community at Work</a>
	          </li>
	          <li>
	            <a href="/about/#clients">Our Clients</a>
	          </li>
	          <li>
	            <a href="https://goo.gl/maps/VwB9GA3wD9C2" rel="external">Location &amp; Directions</a>
	          </li>
	          <li>
	            <a href="/contact/">Contact Us</a>
	          </li>
	        </ul>
	      </li>
	{#           <li class="columns">
	        <a href="#">Books &amp; Articles</a>
	        <ul>
	          {% for item in cms.booksarticles %}
	          <li>
	            <a href="#">{{ item.name }}</a>
	          </li>
	        {% endfor %}
	        </ul>
	      </li> #}
	      <li class="columns {% if getCurrentUrl() == url('facilitationservices') %}active{% endif %}">
	        <a href="/facilitation-services/">Facilitation Services</a>

	        <ul class="hide-for-small-only">
	          {% for item in cms.facilitationservices %}
	            <li>
	              <a href="{{ url('facilitationservices') }}#{{ item.slug|replace('facilitation-services/', '') }}">{{ item.name }}</a>
	            </li>
	          {% endfor %}
	        </ul>
	      </li>
	      <li class="columns {% if getCurrentUrl() == url('learningprograms') || getCurrentUrl() == url('learningprogramscategories') %}active{% endif %}">
	        <a href="/learning-programs/">Learning Programs</a>
	        <ul class="hide-for-small-only">
	        	<li>
	        		<a href="{{ url('events') }}">Upcoming Workshops</a>
	        	</li>
	          {% for category in cms.learningprogramscategories|sort('order') %}
	            <li>
	              <a href="{{ url('learningprograms') }}#{{ category.slug|replace('learningprogramscategories/', '') }}">{{ category.name }}</a>
	            </li>
	          {% endfor %}
	        </ul>
	      </li>
	      <li class="columns {% if getCurrentUrl() == url('consultingservices') %}active{% endif %}">
	        <a href="/consultingservices/">Consulting Services</a>
	        <ul class="hide-for-small-only">
	          <li><a href="/consultingservices/#philosophy">Philosophy &amp; Approach</a></li>
	          <li><a href="/consultingservices/#testimonials">Client Testimonials</a></li>
	        </ul>
	      </li>
	      <li class="columns {% if getCurrentUrl() == url('resources') %}active{% endif %}">
	        <a href="/resources/">Resources</a>
	        <ul class="hide-for-small-only">
	          <li><a href="/resources/#">Tools &amp; Methods</a></li>
	          <li><a href="/resources/#">Website of the Month</a></li>
	          <li><a href="/resources/#">Conference of the Month</a></li>
	          <li><a href="{{ url('booksarticles') }}">Our Books &amp; Articles</a></li>
	          <li><a href="/resources/#">Reading List</a></li>
	          <li><a href="/resources/#">Participatory Organizations</a></li>
	        </ul>
	      </li>
	    </ul>
<!-- 		<form action="/search-results/" class="search-form" method="get" data-search-index="false">
			  <span class="search"><input type="text" placeholder="search" id="tipue_search_input" name="q"></span>
		</form> -->
	  </div>




	</div>

	<div class="row expanded hide-for-large">
  		<div class="columns medium-6">
		    <p style="margin-top: 0;">Supporting groups to do their best&nbsp;thinking.</p>
  		</div>
  		<div class="columns medium-6">
  			<div class="space show-for-medium-only" style="display:block;height:1em;"></div>
		    <div class="text-right">
		    	{% include "templates/partials/social.html" %}
		    </div>
  		</div>
	</div>
	<!-- div.row> -->
</nav>