<nav id="nav" class="notoggle {% if getCurrentUrl() == '/' %}transparent{% endif %}">
	<div class="row expanded">
	  <div class="columns medium-12 large-5">
	  	<div class="row">
	  		<div class="columns small-8 medium-6 large-12">
			    <h4><a href="/">Community At Work</a></h4>
			    <h3 class="show-for-large" style="margin-top: 1em;">Supporting groups to do their&nbsp;best&nbsp;thinking.</h3>
	  		</div>
	  		<div class="columns small-12 medium-6 large-12 show-for-large">
			    <div class="social">
			    	{% for item in ['facebook', 'twitter', 'linkedin'] %}
						<a href="#" class="{{item}}">
							<i class="icon-{{item}}-with-circle"></i>
							{# {{item}} #}
						</a>
			    	{% endfor %}
			    </div>
	  		</div>
	  		<div class="columns small-4 medium-6 hide-for-large text-right">
	  			<a href="#" class="menu-toggle"><span>Menu</span> <i class="icon-menu"></i></a>
	  		</div>
	  	</div>

	  </div>
	  <div class="columns medium-12 large-7">

	    <ul class="row expanded small-up-1 medium-up-3">

	      <li class="columns {% if getCurrentUrl() == url('facilitationservices') %}active{% endif %}">
	        <a href="/facilitation-services/">Facilitation Services</a>

	        <ul class="hide-for-small-only">
	          {% for item in cms.facilitationservices %}
	            <li>
	              <a href="{{ url(item) }}">{{ item.name }}</a>
	            </li>
	          {% endfor %}
	        </ul>
	      </li>
	      <li class="columns {% if getCurrentUrl() == url('learningprograms') || getCurrentUrl() == url('learningprogramscategories') %}active{% endif %}">
	        <a href="/learning-programs/">Learning Programs</a>
	        <ul class="hide-for-small-only">
	        	<li>
	        		<a href="{{ url('events') }}">Upcoming Workshops</a>
	        	</li>
	          {% for category in cms.learningprogramscategories %}
	            <li>
	              <a href="{{ url('learningprograms') }}#{{ category.slug|replace('learningprogramscategories/', '') }}">{{ category.name }}</a>
	            </li>
	          {% endfor %}
	        </ul>
	      </li>
	      <li class="columns {% if getCurrentUrl() == url('consultingservices') %}active{% endif %}">
	        <a href="/consultingservices/">Consulting Services</a>
	        <ul class="hide-for-small-only">
	          <li><a href="/consultingservices/#philosophy">Philosophy &amp; Approach</a></li>
	          <li><a href="/consultingservices/#testimonials">Client Testimonials</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</div>

	<div class="row expanded hide-for-large">
  		<div class="columns medium-6">
		    <p style="margin-top: 0;">Supporting groups to do their best&nbsp;thinking.</p>
  		</div>
  		<div class="columns medium-6">
  			<div class="space show-for-medium-only" style="display:block;height:1em;"></div>
		    <div class="social text-right">
		    	{% for item in ['facebook', 'twitter', 'linkedin'] %}
					<a href="#" class="{{item}}">
						<i class="icon-{{item}}-with-circle"></i>
						{# {{item}} #}
					</a>
		    	{% endfor %}
		    </div>
  		</div>
	</div>
</nav>