<div class="social">
	{% if cms.about.facebook %}
		<a href="{{ cms.about.facebook }}" class="facebook" rel="external">
			<i class="icon-facebook-with-circle"></i>
		</a>
	{% endif %}
	{% if cms.about.twitter %}
		<a href="{{ cms.about.twitter }}" class="twitter" rel="external">
			<i class="icon-twitter-with-circle"></i>
		</a>
	{% endif %}
	{% if cms.about.linkedin %}
		<a href="{{ cms.about.linkedin }}" class="linkedin" rel="external">
			<i class="icon-linkedin-with-circle"></i>
		</a>
	{% endif %}
</div>