<section class="bg-haze padding-tall">
    <div class="row">
      <div class="columns">
        <div class="carousel">
          {% for item in [1,2,3,4,5] %}
            <div class="slide text-center">
              <img src="http://placehold.it/100x100" alt="" class="img-circle" style="margin-bottom: 2em;">
              <blockquote>
                <p class="lead"><span>&ldquo; </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate iusto eos deleniti debitis nisi beatae fugiat qui velit saepe quidem repudiandae nihil, assumenda eaque dicta aliquam voluptatibus, optio praesentium ex! <span>&rdquo;</span></p>
                <br>
                <p class="caption">John Doe - Industry Expert</p>
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>