<section class="bg-haze padding-tall">
    <div class="row">
      <div class="columns">
        <div class="carousel">
          {% for item in cms.testimonials %}
            <div class="slide text-center">
              {# <img src="http://placehold.it/100x100" alt="" class="img-circle" style="margin-bottom: 2em;"> #}
              <blockquote>
                <p class="lead"><span>&ldquo; </span> {{ item.quote }} <span>&rdquo;</span></p>
                <br>
                <p class="caption">{{ item.name }}</p>
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>