<section class="bg-haze padding">
  <div class="row expanded">
    <div class="columns">
      <div class="carousel" data-equalizer>
        {% for item in cms.testimonials %}
          <div class="slide text-center" data-equalizer-watch>
            {# <img src="http://placehold.it/100x100" alt="" class="img-circle" style="margin-bottom: 2em;"> #}
            <div class="table">
              <div class="cell">
                <!-- <div> -->
                  <blockquote style="margin-bottom: 0;">
                    <p class="lead" style="max-width: 30em; margin: 0 auto;"><span>&ldquo; </span> {{ item.quote }} <span>&rdquo;</span></p>
                    <br>
                    <p class="caption" style="margin-bottom: 0;">{{ item.name }}</p>
                  </blockquote>
                <!-- </div> -->
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>