{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH staff #}
{# This page can use any data from http:localhost:2000/cms/#/form/staff/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this staff's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <section class="padding-tall" style="padding-bottom: 4em;">
    <div class="row" data-equalizer>
      <div class="columns medium-4" data-equalizer-watch>
        <img src="{{ item.image|imageCrop(300, 300) }}" class="img-circle" style="width: 90%;"/>
      </div>
      <div class="columns medium-8" data-equalizer-watch>
        <div class="table">
          <div class="cell">
            <h1>{{ item.name }}</h1>
            <h3 class="subdued">{{ item.title }}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="padding-tall" style="padding-top: 0;">
    <div class="row">
      <div class="columns medium-8 medium-centered">
        {{ item.bio|markdown }}
        <br>
        <a class="button outline" href="/about">&larr; About Comunity At Work </a>
      </div>
    </div>
  </section>

{% endblock %}
