{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL facilitationservices #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append facilitationservices to the site title defined in base.html #}
{% block title %}{% parent %} - facilitationservices{% endblock %}

{% block content %}

  <section id="hero" class="bg-haze cover" data-bg="/static/images/image-2.jpg">
    <div class="overlay overlay-teal">
      <div class="row">
        <div class="columns">
          <div class="table">
            <div class="cell text-center padding-tall">
              <h1>Facilitation Services</h1>
              <p class="lead">Supporting groups to do their best thinking.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    {% set icons = [9,5,6,2,1] %}
    {% for item in cms.facilitationservices %}
      <section class="padding {% if loop.index % 2 == 0 %}bg-haze{% endif %}">
        <div class="row" data-equalizer>
          <div class="column medium-6 {% if loop.index % 2 == 0 %}medium-push-6{% endif %}" data-equalizer-watch>
            <div class="table">
              <div class="cell">
                <h2 style="margin-bottom: 1em;"><a href="{{ url(item) }}" style="color: inherit;">{{ item.name }}</a></h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio laborum debitis error, ipsum consequatur, a deleniti inventore, nisi obcaecati magni vitae saepe optio accusamus laudantium itaque? Dicta asperiores, ad.
                </p>
                <br>
                <p>
                  <a href="{{ url(item) }}" class="button outline">Read More <i class="icon-arrow-right"></i> </a>
                </p>

              </div>
            </div>
          </div>
          <div class="column medium-6 {% if loop.index % 2 == 0 %}medium-pull-6{% endif %}" data-equalizer-watch>
            <div class="padding">
              <!-- <img src="{{}}" alt=""> -->
              <img src="/static/images/illustration-0{{ icons[loop.index0] }}.svg" alt="" class="">
            </div>
          </div>
        </div>
      </section>
    {% endfor %}


  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

{% endblock %}
