{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - facilitationservices{% endblock %}

{% block content %}

  <section id="hero" class="bg-haze cover" data-bg="/static/images/image-2.jpg">
    <div class="overlay overlay-teal">
      <div class="row">
        <div class="columns">
          <div class="table">
            <div class="cell text-center padding-tall">
              <h1>Facilitation Services</h1>
              <p class="lead">{{ cms.homepage.facilitation_services_overview }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% for item in cms.facilitationservices %}
    <section class="padding {% if loop.index % 2 == 0 %}bg-haze{% endif %}" id="{{ item.slug|replace('facilitation-services/', '') }}">
      <div class="row" data-equalizer>
        <div class="column medium-6 {% if loop.index % 2 == 0 %}medium-push-6{% endif %}" data-equalizer-watch>
          <div class="table">
            <div class="cell">
              <h2 style="margin-bottom: 1em;"><a href="{{ url(item) }}" style="color: inherit;">{{ item.name }}</a></h2>
              {{ item.essay|safe }}
              <br>
              <p>
                <a href="mailto:Facilitation@CommunityAtWork.com" class="button outline">Contact Us <i class="icon-arrow-right"></i> </a>
              </p>
            </div>
          </div>
        </div>
        <div class="column medium-6 {% if loop.index % 2 == 0 %}medium-pull-6{% endif %}" data-equalizer-watch>
          <div class="padding" style="padding:2em;">
            <img src="{{ item.overview_image|imageCrop(800,800) }}" alt="" class="img-circle">
          </div>
        </div>
      </div>
    </section>
  {% endfor %}

{% endblock %}
