{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.consultingservices.name }}{% endblock %}
{% block content %}

  <section id="hero" class="bg-dark cover" data-bg="/static/images/image-5.jpg">
    <div class="overlay overlay-purple">
      <div class="row">
        <div class="columns">
          <div class="table">
            <div class="cell text-center padding-tall">
              <h1>{{ cms.consultingservices.name }}</h1>
              <p class="lead">{{ cms.consultingservices.overview }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="padding-tall" id="philosophy">
    <div class="row">
      <div class="columns text-center medium-12 medium-centered">
        <h2 class="bold">Our Philosophy &amp; Approach</h2>
        <br>
        {{ cms.consultingservices.philosophy|safe }}
        <p class="text-center">
          <a href="#" class="button">Contact Us</a>
        </p>
      </div>
    </div>
  </section>

  {% include 'templates/partials/testimonials.html' %}

  {% include 'templates/partials/book.html' %}

{% endblock %}
