{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}
{% block body_attributes %}class="index"{% endblock body_attributes %}
{% block content %}

  <section id="hero" class="" style="background-color: transparent;">
    <div class="row expanded collapse">
      <div class="columns">
        <div class="table">
          <div id="particles-js"></div>
          <div class="cell text-center padding-tall">
            <div style="display: block; max-width: 30em; margin: 0 auto;">
              <h1 style="">{{ cms.homepage.headline }}</h1>
              <p class="lead">{{ cms.homepage.overview }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="grid">
    <div class="row expanded collapse small-up-1 medium-up-3 large-up-3" data-equalizer>
        {% set colors = ['orange','teal','purple'] %}
        {% for item in cms.homepage.grid|slice(0,3) %}
          <div class="columns text-center cover" data-equalizer-watch data-bg="{{ item.image|imageCrop(400,300) }}">
            <a href="{{ item.link }}">
              <div class="overlay padding-tall overlay-{{ colors[loop.index0] }}">
                <div class="table">
                  <div class="cell">
                    <h3 class="bold text-white">{{ item.name }}</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}

    </div>
  </section>

  <section class="bg-haze padding-tall">
    <div class="row" data-equalizer-off>
      <div class="columns medium-6 text-center" data-equalizer-watch>
        <img data-src="{{ cms.homepage.book_image|imageSize(800) }}" height="500" alt="" style="max-height: 500px;">
      </div>
      <div class="columns medium-6" data-equalizer-watch>
        <div class="table">
          <div class="cell">
              <div class="space show-for-small-only" style="display:block;height:2em;"></div>
              <h2 class="bold" style="line-height: 1;">{{ cms.homepage.book_headline }}</h2>
              <br>
              {{ cms.homepage.book_overview|safe }}
              <br>
              <div>
                <a href="http://bit.ly/1RLFy3F" class="button">Buy the Book <i class="icon-arrow-right"></i></a>
                <a href="{{ url('booksarticles') }}" class="button outline">{{ cms.homepage.book_button_text }} <i class="icon-arrow-right"></i> </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'templates/partials/experts.html' %}

  <section class="padding-tall">
    <h2 class="text-center" style="margin-bottom: 2em;">Upcoming Workshops</h2>
    <div class="row expanded medium-up-2 large-up-4" data-equalizer>
      {% for item in cms.events|slice(0,4) %}
        <div class="columns">
          <div class="card" data-equalizer-watch>
            <a href="{{ url(item) }}">
              <h6 style="text-transform: uppercase; color: #999;font-weight: bold;letter-spacing: .05em;">
                {% if item.end_date %}
                  {{ item.start_date|date('F j') }} - {{ item.end_date|date('j, Y') }}
                {% else %}
                  {{ item.start_date|date('F j, Y') }}
                {% endif %}
              </h6>
              <h3>{{ item.name|replace(' [0-9]', '') }}</h3>
              <br>
              <p class="text-right">
                <a href="{{ url(item) }}" class="button link small">Learn More <i class="icon-arrow-right"></i> </a>
              </p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="columns text-center padding" style="padding-bottom: 0;">
        <h3>
          <a href="/events/">View All Workshops&nbsp;&amp;&nbsp;Events <i class="icon-arrow-right"></i></a>
        </h3>
      </div>
    </div>
  </section>

  <section class="padding-tall bg-haze">
    <h2 class="text-center" style="margin-bottom: 2em;">Learning Programs</h2>
    <div class="row expanded medium-up-2 large-up-4" data-equalizer>
      {% for item in cms.learningprogramscategories %}
        <div class="columns">
          <div class="card" data-equalizer-watch>
            <a href="{{ url('learningprograms') }}#{{ item.slug|replace('learningprogramscategories/', '', 'g') }}">
              <h3>{{ item.name }}</h3>
              <p>
                {{ item.summary }}
              </p>
              <br>
              <p class="text-right">
                <a href="{{ url('learningprograms') }}#{{ item.slug|replace('learningprogramscategories/', '', 'g') }}" class="button link small">Learn More <i class="icon-arrow-right"></i> </a>
              </p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
   {#  <div class="row">
      <div class="columns text-center padding" style="padding-bottom: 0;">
        <h3>
          <a href="/learning-programs/">View All Learning&nbsp;Programs&nbsp;<i class="icon-arrow-right"></i></a>
        </h3>
      </div>
    </div> #}
  </section>

  <section class="padding-tall">
    <h2 class="text-center" style="margin-bottom: 2em;">Facilitation Services</h2>
    <div class="row expanded medium-up-2 large-up-4" data-equalizer>
      {% for item in cms.facilitationservices %}
        <div class="columns">
          <div class="card" data-equalizer-watch>
            <a href="{{ url('learningprograms') }}#{{ item.slug|replace('learningprogramscategories/', '', 'g') }}">
              <h3>{{ item.name }}</h3>
                {{ item.overview|safe }}
              <br>
              <p class="text-right">
                <a href="{{ url('facilitationservices') }}#{{ item.slug|replace('facilitationservices/', '', 'g') }}" class="button link small">Learn More <i class="icon-arrow-right"></i> </a>
              </p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
   {#  <div class="row">
      <div class="columns text-center padding" style="padding-bottom: 0;">
        <h3>
          <a href="{{ url('facilitationservices') }}">View All Facilitation&nbsp;Services&nbsp;<i class="icon-arrow-right"></i></a>
        </h3>
      </div>
    </div> #}
  </section>

  {% include 'templates/partials/testimonials.html' %}

  {% include 'templates/partials/clients-logos.html' %}

{% endblock %}


{% block scripts_extra %}
    <script>
      var colors = ['#512DA8', '#D84315', '#00BFA5', '#C0CA33'];
    function randomColor() {
      return colors[Math.floor(Math.random() * colors.length)];
    }
    var randomColor = randomColor();

particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 20,
      "density": {
        "enable": true,
        "value_area": 300
      }
    },
    "color": {
      "value": "#333"
      // "value": colors
      // "value": colors
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0
      },
      "polygon": {
        "nb_sides": 5
      }
    },
    "opacity": {
      "value": 1,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 1,
        "sync": false
      }
    },
    "size": {
      "value": 7,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 200,
      "color": "#000000",
      // "color": colors,
      "opacity": 1,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 2,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "grab"
      },
      "onclick": {
        "enable": false,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
    </script>
{% endblock scripts_extra %}