{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

  <section>
    <div class="row">
      <div class="columns">

        <h1>Community At Work</h1>
        <h3>Supporting groups to do their best thinking.</h3>

        <ul>
          <li>
            <h3>About</h3>
            <ul>
              <li>Professional Staff</li>
              <li>Operations Staff</li>
              <li>Community at Work</li>
              <li>Our Clients</li>
              <li>Location &amp; Directions</li>
              <li>Contact Us</li>
            </ul>
          </li>
          <li>
            <h3>Books &amp; Articles</h3>
            <ul>
              {% for item in cms.booksarticles %}
                <li>
                  <h5>{{ item.name }}</h5>
                  <ul>
                    <li><strong>Overview</strong>: {{item.overview}}</li>
                    <li><strong>Image</strong>: </li>
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h3>Clients</h3>
          </li>
          <li>
            <h3>Consulting Services</h3>
            <ul>
              <li>Philosophy &amp; Approach</li>
              <li>Client Testimonials</li>
            </ul>
          </li>
          <li>
            <h3>Facilitation Services</h3>
            <ul>
              {% for item in cms.facilitationservices %}
                <li>
                  {{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h3>Learning Programs</h3>
            <ul>
              {% for category in cms.learningprogramscategories %}
                <li>
                  <h5 class='bold'>{{ category.name }}</h5>
                  <ul>
                    {% for item in category.learning_programs_category %}
                      <li>
                        <h5>{{ item.name }}</h5>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h3>Staff</h3>
          </li>
          <li>
            <h3>Resources</h3>
            <ul>
              <li>Tools &amp; Methods</li>
              <li>Website of the Month</li>
              <li>Conference of the Month</li>
              <li>Our Books &amp; Articles</li>
              <li>Reading List</li>
              <li>Participatory Organizations</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </section>



  {# <p><a href="/cms/">CMS</a></p> #}

  {# If you have at least content page type, we show a list. #}
  {% if cms_types|size !== 0 %}
<!--
    <h3>Content types you've created in the CMS so far.</h3>

    <ul>
    {% for type in cms_types %}
      <li>
        <a href="{{ url(type) }}">{{ type.name }}</a>

      </li>
    {% endfor %}
    </ul> -->

  {% endif %}

{% endblock %}
