{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH learningprograms #}
{# This page can use any data from http:localhost:2000/cms/#/form/learningprograms/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this learningprograms's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

  <section class="padding-tall">
    <div class="row">
      <div class="columns medium-8 medium-centered">
        <h6><a href="{{ url('learningprograms') }}" class="button link" style="padding-left: 0; color: #999;"><i class="icon-arrow-left"></i> Learning Programs</a></h6>

        <h1>{{ item.name }}</h1>
        <br>
        <h4>
          {{ item.overview }}
        </h4>
        <br>



        {% if item.events_relationship %}
          <hr>
          <br>
          <h2>Upcoming Events</h2>
          <br>

          {% for event in item.events_relationship %}
            <div class="bg-haze event-item" style="padding: 1em; margin-bottom: 1em;">
              <div class="row">
                <div class="column medium-3">
                  <h6 style="text-transform: uppercase; font-weight: bold; margin-top: 0.5em;">
                    {% if event.end_date %}
                      {{ event.start_date|date('F j') }} - {{ event.end_date|date('j, Y') }}
                    {% else %}
                      {{ event.start_date|date('F j, Y') }}
                    {% endif %}
                  </h6>
                </div>
                <div class="column medium-6">
                  <p style="margin-bottom: 0.5em;">
                    <em>with</em>
                    {% for leader in event.leader %}
                      <a href="{{ url(leader) }}" style="font-family: inherit; color: inherit; text-decoration: underline;">{{ leader.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                  </p>
                  {# <p> #}
                    <small>{{ event.location|safe }}</small>
                  {# </p> #}

                  {% if event.eligibility %}
                      <p><small>{{ event.eligibility }}</small></p>
                  {% endif %}

                  {% if event.cost %}
                      <p><small>${{ event.cost }}</small></p>
                  {% endif %}
                </div>
                <div class="column medium-3">
                  {# {% if item.buy_link %} #}
                    <a href="http://selz.co/1mpH7Xd" class="button expanded small">Register Now</a>
                  {# {% endif %} #}
                  <a href="mailto:events@communityatwork.com" class="button expanded small outline">Contact Us</a>
                </div>
              </div>
            </div>
          {% endfor %}

        {% endif %}

{#         <div class="callout">
          <div class="row" data-equalizer>
            <div class="columns medium-6" data-equalizer-watch>
              <div class="table">
                <div class="cell">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem saepe quas, hic animi aliquid repellendus repellat necessitatibus.
                  </p>
                </div>
              </div>
            </div>
            <div class="columns medium-6 text-right" data-equalizer-watch>
              <div class="table">
                <div class="cell">
                  <a href="http://selz.co/1mpH7Xd" class="button">Register Now <i class="icon-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div> #}
        <br>
        <hr>
        <br>
        <h2>Frequently Asked Questions</h2>

        <dl>
          {% for item in [1,2,3,4,5] %}
            <dt>Question {{ item }}</dt>
            <dd>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias unde consequatur magni, cumque, eveniet ipsa id assumenda iusto a porro velit dolorem numquam. Accusamus eligendi provident quis eveniet voluptatum, quaerat.
            </dd>
          {% endfor %}
        </dl>

        <br>
        <hr>
        <br>
        {% include 'templates/partials/contact-form.html' %}

      </div>
    </div>
  </section>

  <div class="bg-haze">
    {% include 'templates/partials/book.html' %}
  </div>

{% endblock %}
