{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH learningprograms #}
{# This page can use any data from http:localhost:2000/cms/#/form/learningprograms/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this learningprograms's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

  <section class="padding-tall">
    <div class="row">
      <div class="columns medium-8 medium-centered">
        <h6><a href="{{ url('learningprograms') }}" class="button link" style="padding-left: 0; color: #999;"><i class="icon-arrow-left"></i> Learning Programs</a></h6>

        <h1>{{ item.name }}</h1>
        <br>
        <h4>
          {{ item.overview }}
        </h4>
        <br>
        <br>
        <div class="callout">
          <div class="row" data-equalizer>
            <div class="columns medium-6" data-equalizer-watch>
              <div class="table">
                <div class="cell">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem saepe quas, hic animi aliquid repellendus repellat necessitatibus.
                  </p>
                </div>
              </div>
            </div>
            <div class="columns medium-6 text-right" data-equalizer-watch>
              <div class="table">
                <div class="cell">
                  <a href="http://selz.co/1mpH7Xd" class="button">Register Now <i class="icon-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <br>
        <hr>
        <br>
        <h2>Frequently Asked Questions</h2>

        <dl>
          {% for item in [1,2,3,4,5] %}
            <dt>Question {{ item }}</dt>
            <dd>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias unde consequatur magni, cumque, eveniet ipsa id assumenda iusto a porro velit dolorem numquam. Accusamus eligendi provident quis eveniet voluptatum, quaerat.
            </dd>
          {% endfor %}
        </dl>

        <br>
        <hr>
        <br>
        {% include 'templates/partials/contact-form.html' %}

      </div>
    </div>
  </section>

  <div class="bg-haze">
    {% include 'templates/partials/book.html' %}
  </div>

{% endblock %}
