{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}

  <section class="padding-tall">
    <div class="row">
      <div class="columns medium-8 medium-centered">
        <h6><a href="{{ url('learningprograms') }}" class="button link" style="padding-left: 0; color: #999;"><i class="icon-arrow-left"></i> Learning Programs</a></h6>

        <h1>{{ item.name }}</h1>
        <br>
        <h4>
          {{ item.overview }}
        </h4>
        <br>

        {% include 'templates/partials/share.html' %}

        {% if item.events_relationship %}
          <hr>
          <br>
          <h2>Upcoming Events</h2>
          <br>

          {% for event in item.events_relationship %}
            <div class="bg-haze event-item" style="padding: 1em; margin-bottom: 1em;">
              <div class="row">
                <div class="column medium-3">
                  <h6 style="text-transform: uppercase; font-weight: bold; margin-top: 0.5em;">
                    {% if event.end_date %}
                      {{ event.start_date|date('F j') }} - {{ event.end_date|date('j, Y') }}
                    {% else %}
                      {{ event.start_date|date('F j, Y') }}
                    {% endif %}
                  </h6>
                </div>
                <div class="column medium-6">
                  <p style="margin-bottom: 0.5em;">
                    <em>with</em>
                    {% for leader in event.leader %}
                      <a href="{{ url(leader) }}" style="font-family: inherit; color: inherit; text-decoration: underline;">{{ leader.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                  </p>

                  <small>{{ event.location|safe }}</small>

                  {% if event.eligibility %}
                      <p><small>{{ event.eligibility }}</small></p>
                  {% endif %}

                  {% if event.cost %}
                      <p><small>${{ event.cost }}</small></p>
                  {% endif %}
                </div>
                <div class="column medium-3">
                  {# {% if item.buy_link %} #}
                    <a href="http://selz.co/1mpH7Xd" class="button expanded small">Register Now</a>
                  {# {% endif %} #}
                  <a href="mailto:events@communityatwork.com" class="button expanded small outline">Contact Us</a>
                </div>
              </div>
            </div>
          {% endfor %}

        {% endif %}

        <br>
        <hr>
        <br>
        <h2 style="margin-bottom: 1em;">Frequently Asked Questions</h2>

        {{ item.content|safe }}

        <br>
        <hr>
        <br>
        {% include 'templates/partials/contact-form.html' %}

      </div>
    </div>
  </section>

  <div class="bg-haze">
    {% include 'templates/partials/book.html' %}
  </div>

{% endblock %}
