{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - learningprograms{% endblock %}

{% block content %}

  <section id="hero" class="bg-dark cover" data-bg="/static/images/image-4.jpg">
    <div class="overlay overlay-orange">
      <div class="row">
        <div class="columns">
          <div class="table">
            <div class="cell text-center padding-tall">
              <h1>Learning Programs</h1>
              <p class="lead">{{ cms.homepage.learning_programs_overview }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% for category in cms.learningprogramscategories %}
    <section class="services padding-tall {% if loop.index % 2 == 0 %}bg-haze{% endif %}" style="padding-top: 5em;" id="{{ category.slug|replace('learningprogramscategories/', '') }}">
      <div class="row" data-equalizer style="margin-bottom: 5em;">
        <div class="columns medium-6" data-equalizer-watch>
          <div class="table">
            <div class="cell">
              <h2>{{ category.name }}</h2>
              <br>
              <p>
                {{ category.summary }}
              </p>

              {% if category.learning_programs_category|size == 0 %}
                <p>
                  <a href="/contact/" class="button outline">Contact Us</a>
                </p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="columns medium-6" data-equalizer-watch>
          <div class="padding text-center" style="padding: 2em;">
            <img src="{{ category.illustration|imageCrop(600,600) }}" alt="" class="img-circle" style="max-width: 400px; max-height: 400px;">
          </div>
        </div>
      </div>

      {% if category.learning_programs_category|size  %}
        <div class="row expanded small-up-1 medium-up-2 large-up-4" data-equalizer>
          {% for item in category.learning_programs_category %}
            <div class="columns">
              <a href="{{ url(item) }}">
                <div class="card" data-equalizer-watch>
                  <h3><a href="{{ url(item) }}">{{ item.name }}</a></h3>
                  <p>
                    {{ item.overview }}
                  </p>
                  <p class="text-right">
                    <a href="{{ url(item) }}" class="button link" style="padding-right: 0;">Learn More <i class="icon-arrow-right"></i></a>
                  </p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>
  {% endfor %}

{% endblock %}