{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH events #}
{# This page can use any data from http:localhost:2000/cms/#/form/events/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this events's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

  <section class="padding-tall event-single">
    <div class="row">
      <div class="columns medium-8 medium-centered">
        <h6><a href="{{ url('events') }}" class="button link" style="padding-left: 0; color: #999;"><i class="icon-arrow-left"></i> Workshops &amp; Events</a></h6>

        <h1>{{ item.name }}</h1>
        <br>
          <table>
            <tbody>
              <tr>
                <th>Date</th>
                <td>
                  <p>
                    {% if item.end_date %}
                      {{ item.start_date|date('F j') }} - {{ item.end_date|date('j, Y') }}
                    {% else %}
                      {{ item.start_date|date('F j, Y') }}
                    {% endif %}
                  </p>
                </td>
              </tr>
              <tr>
                <th>Leader</th>
                <td>
                  <p>
                    {% for leader in item.leader %}
                      <a href="{{ url(leader) }}">{{ leader.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                  </p>
                </td>
              </tr>
              <tr>
                <th>Location</th>
                <td>
                  {{ item.location|safe }}
                </td>
              </tr>
              {% if item.eligibility %}
               <tr>
                  <th>Eligibility</th>
                  <td>
                    <p>{{ item.eligibility }}</p>
                  </td>
                </tr>
              {% endif %}
              {% if item.cost %}
               <tr>
                  <th>Cost</th>
                  <td>
                    <p>${{ item.cost }}</p>
                    <p>
                      <small>Discounts available for non-profit and self-employed.</small>
                    </p>
                  </td>
                </tr>
              {% endif %}
              <tr>
                <th></th>
                <td>
                  {# {% if item.buy_link %} #}
                    <a href="#" class="button small">Register Now</a>
                  {# {% endif %} #}
                    <a href="mailto:events@communityatwork.com" class="button small outline">Contact Us</a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </section>

{% endblock %}
